<h1>Employee</h1>

<%= label_tag "Name: " %>
<%= "#{@employee.first_name} #{@employee.last_name}" %>
<br>
<%= label_tag "Alias: "%>
<%= @employee.alias %>
<br>
<%= label_tag "Title: "%>
<%= @employee.title %>
<br>
<%= label_tag "Office: " %>
<%= @employee.office %>
