<h1><%= @employee.to_s %></h1>
<% if @employee.img_url %>
  <%= image_tag @employee.img_url %>
<% end %>
<ul>
  <li>First name: <%= @employee.first_name %></li>
  <li>Last name: <%= @employee.last_name %></li>
  <li>Alias: <%= @employee.alias %></li>
  <li>Title: <%= @employee.title %></li>
  <li>Office: <%= @employee.office %></li>
</ul>
